body{
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
}

header{
	margin-bottom: 5px;
	margin-left: 25%;
	margin-right: 25%;
}

.btn-primary,.reset{
	background-color: #313477;
	color: white;
	font-family: 'Sigmar One', sans-serif;
	font-size: 30px;
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 8px;
}
.btn-primary:hover, .reset:hover{
	background-color: #202364;
}

.container{
	margin-top: 50px;
	text-align: center;
	height: 100%;
	width: 700px;
}

h1 {
	margin-bottom: 10px;
}

h2, #message, #finalMessage{
	font-family: Sigmar One;
}

h3 {
	margin-top: -10px;
}

.thisChoice:hover{
	background-color: #202364;
	color: white;
	padding: 10px;
}

#img{
	margin: 30px;
}

#startOverBtn{
	margin-bottom: 80px;
}

@media screen and (max-width:640px){
	.container{
		width: 500px;
		margin-top: 200px;
		size: 200%;
	}	
